.bgColor{
    background: rgb(255, 255, 255);
    margin-top: 60px;
    min-height: 100vh;
    position: relative;
}

.myfooter{
    position: relative;
    bottom: -10px;
}

@media (max-width:599px) {
    .container{
        max-width: 90%;
        margin: 0 auto;
    }
}